:root {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: $fonts;
    background: $lightest;
    color: $darkest;
    font-size: 1.6rem;

    @include dm{
        background: $darkest;
        color: $lightest;
    }

    /* link styling */
    a {
        color: $darkest;
        text-decoration: underline;
        text-decoration-color: $midtone;
        text-decoration-thickness: 3px;

        &:hover {
            background: $midtone;
            color: $lightest;
        }

        @include dm {
            color: $light-green;
            text-decoration-color: $midtone-green;
            &:hover {
                background: $midtone-green;
                color: $darkest;
            }
        }
    }

    /* titles */
    h1 {
        font-size: 3.6rem;
        letter-spacing: 0em;
        @include font-weight(bold);
        word-wrap: break-word;
        margin-bottom: 1.6rem;
        color: $darkest;
        line-height: .8em;
        @include dm{
            color: $light-green;
        }
    }

    h2 {
        font-size: 2.4rem;
        letter-spacing: 0.1em;
        @include font-weight(bold);
        background: $midtone-green;
        color: $darkest;
        padding: 5px;
        width: 100%;
        margin-bottom: 1.6rem;
        line-height: .8em;
    }

    h3 {
        font-size: 2.4rem;
        letter-spacing: 0.05em;
        @include font-weight(650);
        word-wrap: break-word;
        line-height: .8em;
        margin-bottom: 1.6rem;
    }

    /* text */
    p {
        margin: 0 auto 1.6rem;
        line-height: 1.1em;
    }

    ul {
        margin-top: 0;
        margin-bottom: 1.6rem;
        li {
            margin-bottom: .8rem;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .content-top {
        margin-bottom: 2.4rem;
    }
}

