* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: $fonts;
    background: $lightest;
    color: $darkest;

    @include font-weight(250);

    @include sm {
        font-size: 115%;
    }

    /* link styling */
    a {
        color: $darkest;
        text-decoration: underline;
        text-decoration-color: $midtone;
        text-decoration-thickness: 3px;

        &:hover {
            background: $midtone;
            color: $lightest;
        }
    }

    /* titles */
    h1 {
        font-size: 3rem;
        letter-spacing: 0.1em;
        @include font-weight(750);
        text-transform: uppercase;
        line-height: .8em;
        word-wrap: break-word;
        margin-bottom: 1rem;
        color: $midtone
    }

    h2 {
        font-size: 2rem;
        letter-spacing: 0.1em;
        @include font-weight(750);
        text-transform: uppercase;
        line-height: .8em;
        word-wrap: break-word;
    }

    h3 {
        font-size: 1.5rem;
        letter-spacing: 0.05em;
        @include font-weight(650);
        text-transform: uppercase;
        line-height: .8em;
        word-wrap: break-word;
    }

    /* text */
    p {
        margin: 0 auto 1rem;
    }

    ul {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

